<div>
  <div class="video-panel">
    <video #video width="100%" height="100%" controls autoplay>
      <source type="application/x-mpegURL">
    </video>
  </div>
  <form [formGroup]="form">
    <input style="width: 50%" formControlName="url"/>
    <button [disabled]="form.invalid || loading" (click)="loadUrls()">Load</button>
    <div *ngIf="loading">Extracting URLs...</div>
    <button *ngFor="let u of urls; let i = index" (click)="selectSource(u)">Source {{ i + 1 }}</button>
  </form>
</div>
